
#User specified files
#####################################
sandbox

#IDE specific files
######################################
.vscode


#Security sensitive data / My stockpile :)
######################################
GIT_repo_location.txt
